@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
  --espaço_entre_receitas: 10px;
}
.recepies {
  margin: 0 40px 0 40px;
}
.recepies header div {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
}
h3,
h4,
h5,
label,
select,
p,
button {
  font-family: "Oswald";
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--cor_do_texto_fixo);
  text-align: left;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 0;
  text-align: center;
  text-align-last: center;
}

h3,
h4,
label,
select,
p {
  text-align: center;
  text-align-last: center;
}

h4 {
  margin-bottom: 20px;
}

.button_add_recepies,
.button_add_recepies img,
.close_button,
.close_button img,
.add_insume_button,
.add_insume_button img {
  stroke: none;
  all: unset;
  width: 40px;
  height: 40px;
}

.button_add_recepies {
  height: 50px;
  transform: translateY(6px);
  margin-left: 10px;
}

.button_add_recepies img {
  padding-top: 10px;
}
.receitas_line {
  border: 2px, solid, var(--cor_do_texto_fixo);
}

.add_recepie_window {
  width: 90%;
  height: 90%;
  border: none;
  border-radius: 20px;
  background-color: var(--cor_do_fundo);
}

.close_button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.close_button,
.close_button img {
  width: 50px;
  height: 50px;
}

.add_recepie_window h4 {
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
}

.add_insume_button,
.add_insume_button img {
  width: 40px;
  height: 40px;
  transform: translateY(3px);
  margin-left: 3px;
}
.delete_insume_button,
.delete_insume_button img {
  width: 50px;
  height: 50px;
  transform: translateY(1px) translateX(-7px);
}
table tbody tr td label,
table tbody tr td input,
table tbody tr td select,
table tbody tr td p,
input,
select {
  font-family: "Oswald";
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  margin: 0 0 0 0;
  text-align: left;
}

table {
  table-layout: auto;
}
.add_recepie_window label {
  text-align: left;
}
.add_insume_table_tbody tr td {
  padding-bottom: 5px;
  padding-right: 40px;
}

.add_insume_table_tbody tr .td_insume_selector {
  padding-right: 30px;
}

.td_insume_selector select {
  width: auto;
}

.quantidade_insumo_input {
  width: 255px;
}
.invalid_input {
  border: 2px solid var(--cor_borda_do_input_quando_recusado);
  border-radius: 5px;
}
.add_recepie_name,
.add_recipie_amount {
  margin-left: 20px;
}

dialog .add_receipe_window_conteiner {
  display: flex;
  flex-direction: column;
  min-width: 500px;
}
.add_receipe_window_content {
  flex: 1;
}
.recepies_buttons_container {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.recepies_section_table {
  width: 100%;
  border-spacing: var(--espaço_entre_receitas) 5px;
  margin-left: calc(-1 * var(--espaço_entre_receitas));
  width: calc(100% + 2 * var(--espaço_entre_receitas));
  table-layout: fixed;
}
.recepies_section_table tr td {
  width: 33%;
}

.header_recepie_div {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.recepies div h5 {
  margin: 0 0 0px 20px;
  max-width: 470px;
  white-space: nowrap;
  overflow-x: auto;
}

.recepies div h5::-webkit-scrollbar {
  height: 2px;
}
.recepies div h5::-webkit-scrollbar-track {
  background: transparent;
}

.recepies div h5::-webkit-scrollbar-thumb {
  background: var(--cor_do_texto_fixo);
  border-radius: 10px;
}

.recepies div h5::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.main_recepie_div {
  background-color: var(--cor_do_fundo_das_receitas);
  min-width: 250px;
  height: 400px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recepies div tr td .recipies_insume_name_text {
  margin-left: 20px;
}

.recepies div tr td p {
  font-weight: 400;
  font-size: 25px;
  margin-top: 0;
  margin-right: 7px;
}

.recepies div button,
.recepies div button img {
  width: 50px;
  height: 50px;
  margin-right: 40px;
  transform: translateY(4px);
}
.table_container {
  overflow-y: auto;
  max-height: 125px;
}

.table_container::-webkit-scrollbar {
  width: 6px;
}

.table_container::-webkit-scrollbar-track {
  background: transparent;
}

.table_container::-webkit-scrollbar-thumb {
  background: var(--cor_do_texto_fixo);
  border-radius: 10px;
  opacity: 0.3;
}

.table_container::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}
.recepie_insume_table {
  table-layout: fixed;
  width: 100%;
}
.recipies_insume_name_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.prices_div {
  margin-bottom: 20px;
}
.recepies div p {
  margin-top: 0;
}
