@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
  --cor_do_texto_fixo: #001857;
}

body {
  background-color: #ffebca;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: "Oswald";
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 100px;
  color: var(--cor_do_texto_fixo);
  text-align: center;
  margin: 20px 0 60px 0;
}

.hidden {
  display: none;
}
